@import './_partials/variables';


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:poppins;
}

body{
	background-image:url('./src/assets/background.webp');
	background-color: $mainColor;
	background-size:100% auto;
	min-height:100vh;
}

table {
	width:100%;
	margin: auto;
	background: rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(5rem);
	border-collapse: collapse;
	font-size:1rem;

	a{
		color:rgb(77, 76, 82);
		font-weight:bolder;
		font-size:1rem;
		text-decoration:none;


}
}

table th {
	background-color: #ffffff;
	padding: 0.6rem;
	color:rgb(97, 97, 97);
	font-weight:100;
	text-align:left;
}

table tr{
	background-color:rgba(255, 255, 255,0.2);
}

table td {
	padding: 0.6rem;
	font-size:1rem;
}

h1{
	color:rgb(60, 53, 109);
	background-color:rgba(255,255,255,0.5);
	font-size:5rem;

	
}

a{
	text-decoration:none;
}

h2 {
	text-align:left;
	margin: auto;
	font-size: 3rem;
	color: transparent;
	background-image: linear-gradient(45deg, $thirdColor, $accentColor);
	background-clip: text;
	-webkit-background-clip: text;
}

.mainpara {
	width: 50%;
	margin: auto;
}

form {
	width: 50%;
	margin: auto;
	padding: 1rem;
	border: 0.1rem solid #3e3e3e50;
	border-radius: 0.5rem;
	height: 27rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
    backdrop-filter: blur(3rem);
}

form div {
	display: flex;
	justify-content: space-between;
}

nav {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	background-color: rgba(255,255,255,0.2);
	backdrop-filter: blur(2rem);
}

nav a {
	color: black;
	text-decoration: none;
	font-weight: bolder;
	text-align: center;
	text-transform: uppercase;
}


form input,select {
	border: 1px solid rgba(255, 255, 255, 0.24);
	background-color: rgba(255,255,255,0.3);
	padding: 0.6rem;
	border-radius: 0.4rem;
	box-shadow: inset rgba(125, 125, 125, 0.27) 0 0 1rem;
}

input:focus {
	outline: 1px solid #fff;
}

button {
	background-image: linear-gradient(45deg, #3e67cf, #6f99e9);
	color: white;
	padding: 0.6rem;
	border: 0;
	border-radius: 0.4rem;
	border: 1px solid rgba(255,255,255,0.5);
}

form label {
	color: white;
	font-family: roboto;
	font-weight: bolder;
	font-size: 1.2rem;
}

.container {
	display: flex;
	place-content: center space-between;
	background-color:rgba(255,255,255,0.5);
	backdrop-filter:blur(1rem);
}

.muse-wrapper {
	width: 50%;
}

.muse-display {
	width: 50%;
	border-left: 1px solid #c6c6c6;
	overflow:hidden;
	padding:4rem;
}

.loader{
	background-image:linear-gradient(45deg, rgb(9, 57, 251), black);
	-webkit-background-clip:text;
	background-clip:text;
	color:transparent;
	background-size:100%;
	font-size:4rem;
	display:flex;
	place-content:center center;
}

h4 {
	font-size: 3rem;
	transition:1s;
	animation: appear 1s forwards;
	margin-left:-2rem;
	background-image:linear-gradient(45deg, rgb(9, 57, 251), black);
	-webkit-background-clip:text;
	background-clip:text;
	color:transparent;
}

h5 {
	text-align: left;
	font-size: 2rem;
	font-style: italic;
	transition:1s;
	animation: appear 2s forwards;
	margin-left:-2rem;
	background-image:linear-gradient(-45deg, rgb(9, 57, 251), black);
	-webkit-background-clip:text;
	background-clip:text;
	color:transparent;
}

@keyframes appear{
	from{
		opacity:0;
		margin-left:-2rem;
	}
	to{
		opacity:1;
		margin-left:0rem;
	}
}

button {
	background-image: linear-gradient(45deg, #1b3c8e, #6f99e9);
	color: white;
	padding: 0.6rem 3rem;
	/* border: 0; */
	border-radius: 0.4rem;
	/* border: 1px solid rgba(255, 255, 255, 0.5); */
	/* aspect-ratio: 5; */
}

.yourturn{
	background-color:green;
}

.notyourturn{
	background-color:rgb(56, 56, 56);
	opacity:0.4;
}